.main {
    display: flex;
    flex-direction: row;
}

.form {
    margin: 10px 35px;
}

.content {
    margin: 50px;
}

.content div {
    margin: 10px 0;
}

strong {
    display: inline-block;
    margin-right: 5px;
}